extends layout

block layout-content
	include nav
	script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8")
	script(src="cal-heatmap.min.js")
	h1 History of Kindness
	p Heatmap of all the completed good deeds
	div(id="cal-heatmap")
	script(src="heatmap.js")