extends layout

block layout-content
	script(type="text/javascript" src="//d3js.org/d3.v3.min.js")
	script(src="cal-heatmap.min.js")
	link(rel="stylesheet" type="text/css" href="cal-heatmap.css")
	include nav
	h1 History of Kindness
	p Heatmap of all the completed good deeds
	div(id="cal-heatmap")
	script(src="heatmap.js")