extends layout

block layout-content
    h1 Kindness Tracker
    form(method="POST" action="user")
        label(for="username") Username:
        input#username(type="text" required placeholder="Enter username...")
        br
        label(for="password") Password:
        input#password(type="password" required placeholder="Enter password...")
        br
        input(type="submit" value="Login")
    div
        p If you do not have an account, please go to the sign up page below:
        form(method="GET" action="signup")
            input(type="submit" value="Sign Up")