//- "Nav bar" for all pages after user has logged in.
a(href="/user" class="btn btn-outline-primary mt-2" role="button") Home
a(href="/history" class="btn btn-outline-primary mt-2 ml-2" role="button") History
a(href="/logout" class="btn btn-outline-primary mt-2 ml-2" role="button") Logout