button(type="button" class="btn btn-light mt-2")
        a(href="/user") Home
button(type="button" class="btn btn-light mt-2")
        a(href="/history") History
button(type="button" class="btn btn-light mt-2")
        a(href="/logout") Logout