extends layout

block layout-content
    include nav
    h1 Welcome, #{userProfile.nickname}!
    p.mt-2 Clean their dishes
    button(type="button" class="btn btn-light mt-2")
        a(href="/complete") Deed complete!
    button(type="button" class="btn btn-light mt-2")
        a(href="/addDeed") Add New Deed
    button(type="button" class="btn btn-light mt-2")
        a(href="/skip") Skip